@model IEnumerable<ClubSystemsProject.Models.Membership>

@{
    ViewBag.Title = "Index";
}

<h2>Memberships</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Member ID
        </th>
        <th>
            Last Name
        </th>
        <th>
            Membership Type
        </th>
        <th>
            Account Balance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Member.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Member.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipType.MemType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MembershipID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MembershipID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MembershipID })
        </td>
    </tr>
}

</table>
